table, th, td {
    text-align: center;
    padding: 5px;
    border: solid 1px black;
    border-collapse: collapse;
}

input {
    margin-bottom: 6px;
}

b {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.green {
    color: green
}

.red {
    color: red
}
