<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%highlight( %white(%d{HH:mm:ss.SSS}) %cyan(%-5level) %blue(%class{50}.%M:%L) - %green(%msg)) %n</pattern>
        </encoder>
    </appender>

    <logger name="org.postgresql" level="debug"/>
    <logger name="org.springframework.jdbc" level="info"/>
    <logger name="ru.javawebinar.topjava" level="debug"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>